<!-- Vul dit bestand verder aan, zodat het samenwerkt met layout.html, vergeet ook de titel niet -->
<!-- Bouw in dit bestand een formulier op zoals in de screenshot op de opgave. Het formulier moet niet werken! -->

{% extends "layout.html" %}
{% block title %}
     contact
{% endblock %}

{% block body %}
    <h1>Tutorial</h1>

    <p>
        1. Find a player
           Or play against AI
        <br />
        2. Place your boats
        <br />
        3. Each player will plays his turn by trying to shoot down the boats of the other player one shot at a time
        <br />
        4. The player who shoots down all boats of the enemy wins
    </p>
{%  endblock %}